.footer{
    width: 100%;
    margin: 20px 0;
}
.footer>div{
    display: flex;
    justify-content: space-between;
}
.left p:first-child{
    font-size: 14px;
    color: #7f7f7f;
    margin-bottom: 10px;
}
.left p:last-child{
    font-size: 12px;
    color: #999;
}
.right{
    display: flex;
}
.right div{
    width:40px;
    height: 40px;
    line-height: 40px;
    background-color: #DCDCDC;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
}
.right div i{
    font-size: 20px;
    color: #999;
}